header{
    font-size: 30px;
display: flex;
justify-content: space-between;
}

#bg{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
#btn{
    font-size: 35px;
    padding: 10px;
  
}